<h1>Step 3</h1>

<a ui-sref="step2({isLoggedOut:vm.isLoggedOut, isLoggedInNoCard:vm.isLoggedInNoCard, isLoggedIn: vm.isLoggedIn})">Previous</a>
<button type="button" ng-click="vm.submit()">Submit</button>

<p>Meta-Data:</p>
<p><button ng-disabled="vm.isLoggedOut" type="button" ng-click="vm.logOut()">Logged Out</button></p>
<p><button ng-disabled="vm.isLoggedInNoCard" type="button" ng-click="vm.logInNoCard()">Logged In With No Credit Card</button></p>
<p><button ng-disabled="vm.isLoggedIn" type="button" ng-click="vm.logIn()">Logged In</button></p>